html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  font-family: "Inter", "Montserrat", "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding-inline: 100px;
}

@media (max-width: 1200px) {
  .container {
    padding-inline: 50px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-inline: 20px;
  }
}
