@use "/src/sass/base/basic.scss";
@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/ui/button.scss";
@use "/src/sass/ui/title.scss";
@use "/src/sass/base/animations.scss";

@use "/src/sass/blocks/header.scss";
@use "/src/sass/blocks/hero.scss";
@use "/src/sass/blocks/getting.scss";
@use "/src/sass/blocks/journey.scss";
@use "/src/sass/blocks/reviews.scss";
@use "/src/sass/blocks/education.scss";
@use "/src/sass/blocks/footer.scss";
@use "/src/sass/blocks/video.scss";
@use "/src/sass/blocks/blogs.scss";
@use "/src/sass/blocks/ebook.scss";
@use "/src/sass/blocks/report.scss";
@use "/src/sass/blocks/webinar.scss";

@import url(" https: ; //fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
