<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <meta name="description" content="mortgage" />
    <meta name="author" content="Ana" />
    <link rel="icon" type="image/x-icon" href="/src/favicon-32x32.png" />
  </head>

  <body class="page--blog">
    <%- include('src/templates/header.html') %>

    <header class="header-blog">
      <div class="container">
        <div class="header-blog__banner">
          <img src="/src/img/photo__blog.png" alt="" class="header-blog__img" />
        </div>
      </div>
    </header>

    <section class="videos">
      <div class="container">
        <div class="videos__grid">
          <article class="videos__card">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            >
              <button
                class="videos__play btn--round"
                aria-label="Play"
              ></button>
            </a>
            <span class="videos__caption">What are points and credits?</span>
            <time class="videos__time" datetime="PT34S">0:27</time>
          </article>

          <article class="videos__card">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            >
              <button
                class="videos__play btn--round"
                aria-label="Play"
              ></button>
            </a>
            <span class="videos__caption"
              >Why a mortgage is so much more than just a rate?</span
            >
            <time class="videos__time" datetime="PT34S">0:34</time>
          </article>

          <article class="videos__card">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            >
              <button
                class="videos__play btn--round"
                aria-label="Play"
              ></button>
            </a>
            <span class="videos__caption"
              >Why a mortgage is so much more than just a rate?</span
            >
            <time class="videos__time" datetime="PT34S">0:34</time>
          </article>

          <article class="videos__card">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            >
              <button
                class="videos__play btn--round"
                aria-label="Play"
              ></button>
            </a>
            <span class="videos__caption">What are points and credits?</span>
            <time class="videos__time" datetime="PT34S">0:27</time>
          </article>
          <article class="videos__card">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            >
              <button
                class="videos__play btn--round"
                aria-label="Play"
              ></button>
            </a>
            <span class="videos__caption"
              >Why a mortgage is so much more than just a rate?</span
            >
            <time class="videos__time" datetime="PT34S">0:34</time>
          </article>
          <article class="videos__card">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            >
              <button
                class="videos__play btn--round"
                aria-label="Play"
              ></button>
            </a>
            <span class="videos__caption"
              >Why a mortgage is so much more than just a rate?</span
            >
            <time class="videos__time" datetime="PT34S">0:34</time>
          </article>
        </div>
      </div>
    </section>
    <section class="webinars">
      <div class="container">
        <aside class="webinars__resources">
          <h2 class="webinars__title t-h2">Resources</h2>

          <div class="webinars__resources-wrapper">
            <div class="webinars__resource">
              <div class="webinars__resource-cover-descr">
                <div class="webinars__cover">
                  <img
                    class="webinars__img"
                    src="/src/img/book.png"
                    alt="bool"
                  />
                </div>
                <div class="webinars__resource-text">
                  <div class="webinars__label webinars__resources-label">
                    Resources
                  </div>
                  <div class="webinars__resource-title">
                    9 Things You Must Know About Buying Your First Home
                  </div>
                </div>
              </div>
              <div class="webinars__line webinars__resource-line"></div>
              <a
                class="webinars__button"
                href="/public/files/Hello.pdf"
                download="hello.pdf"
                ><button class="webinars__btn webinars__btn--download">
                  Download
                  <svg
                    class="webinars__btn-icon"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 1L8 15"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M15 8L8 15L1 8"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg></button
              ></a>
            </div>

            <div class="webinars__resource">
              <div class="webinars__resource-cover-descr">
                <div class="webinars__cover">
                  <img
                    class="webinars__img"
                    src="/src/img/book.png"
                    alt="bool"
                  />
                </div>
                <div class="webinars__resource-text">
                  <div class="webinars__label">Resources</div>
                  <div class="webinars__resource-title">Webinar name</div>
                </div>
              </div>
              <div class="webinars__line webinars__resource-line"></div>

              <a
                href="#"
                class="webinars__button"
                target="_blank"
                rel="noopener noreferrer"
                ><button
                  class="webinars__btn btn--round-see"
                  type="button"
                  aria-label="see_webinar"
                >
                  <svg
                    width="24"
                    height="18"
                    viewBox="0 0 24 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1 9C1 9 5 1 12 1C19 1 23 9 23 9C23 9 19 17 12 17C5 17 1 9 1 9Z"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg></button
              ></a>
            </div>
          </div>
        </aside>
      </div>
    </section>

    <section class="blogs">
      <div class="container">
        <h2 class="blogs__title t-h2">Education</h2>

        <div class="blogs__grid">
          <a href="ebook-things.html" class="blogs__article-link"
            ><article class="blogs__article blogs__article--large">
              <div class="blogs__label blogs__article--large-label">Blog</div>
              <h3 class="blogs__article-title blogs__article--large-title">
                Article #1
              </h3>
              <p class="blogs__text blogs__article--large-text">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line blogs__article--large-line"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div
                  class="blogs__author-name blogs__article--large-author-name"
                >
                  <span>by</span>Scott Johnson
                </div>
              </div>
            </article></a
          >

          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #2</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >

          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #3</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #4</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Scott Johnson
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #5</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Scott Johnson
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #6</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article--large">
              <div class="blogs__label blogs__article--large-label">Blog</div>
              <h3 class="blogs__article-title blogs__article--large-title">
                Article #7
              </h3>
              <p class="blogs__text blogs__article--large-text">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line blogs__article--large-line"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div
                  class="blogs__author-name blogs__article--large-author-name"
                >
                  <span>by</span>Scott Johnson
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #8</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Scott Johnson
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #9</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >
          <a href="#" class="blogs__article-link"
            ><article class="blogs__article blogs__article-short">
              <div class="blogs__label label-hover">Blog</div>
              <h3 class="blogs__article-title title-hover">Article #10</h3>
              <p class="blogs__text text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="blogs__line line-hover"></div>
              <div class="blogs__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="blogs__author-img"
                />
                <div class="blogs__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >
        </div>
      </div>
    </section>
    <%- include('src/templates/footer.html') %>

    <script type="module" src="/src/js/script.js"></script>
  </body>
</html>
