<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ebook-things</title>
    <meta name="description" content="mortgage" />
    <meta name="author" content="Ana" />
    <link rel="icon" type="image/x-icon" href="/src/favicon-32x32.png" />
  </head>
  <body class="page--ebook">
    <%- include('src/templates/header.html') %>

    <section class="ebook-things">
      <div class="container">
        <img
          src="/src/img/bg_ebook.png"
          alt="bg"
          class="ebook-things__img-bg"
        />
        <div class="ebook-things__name">
          <h1 class="ebook-things__title t-h1">
            9 Things You Must Know About Buying Your First Home
          </h1>
          <div class="ebook-things__author">Scott Johnson</div>
        </div>
        <div class="ebook-things__content">
          <h2 class="ebook-things__subtitle t-h2">What’s in the report</h2>
          <p class="ebook-things__text">
            So you’re about to get into the world of homeownership. It’s
            okay...everyone feels lost during this process, but the more
            preparation you do upfront, the smoother your journey will be.
          </p>
          <div class="ebook-things__1st-thing">
            <div class="ebook-things__heading">1st thing</div>
            <p class="ebook-things__descr">
              So you’re about to get into the world of homeownership. It’s
              okay...everyone feels lost during this process, but the more
              preparation you do upfront, the smoother your journey will be. So
              you’re about to get into the world of homeownership. It’s
              okay...everyone feels lost during this process, but the more
              preparation you do upfront, the smoother your journey will be.So
              you’re about to get into the world of homeownership. It’s
              okay...everyone feels lost during this process, but the more
              preparation you do upfront, the smoother your journey will be.So
              you’re about to get into the world of homeownership.
            </p>
            <img
              src="/src/img/ebook_desert.png"
              alt="desert"
              class="ebook-things__img"
            />
          </div>
          <div class="ebook-things__2st-thing">
            <div class="ebook-things__heading">2st thing</div>
            <p class="ebook-things__descr">
              So you’re about to get into the world of homeownership. It’s
              okay...everyone feels lost during this process, but the more
              preparation you do upfront, the smoother your journey will be. So
              you’re about to get into the world of homeownership. It’s
              okay...everyone feels lost during this process, but the more
              preparation you do upfront, the smoother your journey will be.So
              you’re about to get into the world of homeownership. It’s
              okay...everyone feels lost during this process, but the more
              preparation you do upfront, the smoother your journey will be.So
              you’re about to get into the world of homeownership.
            </p>
            <img
              src="/src/img/ebook_stars.png"
              alt="stars"
              class="ebook-things__img"
            />
          </div>
        </div>
        <h2 class="ebook-things__subtitle-more t-h2">More articles</h2>
        <div class="ebook-things__wrapper">
          <a href="#" class="ebook-things__article-link"
            ><article class="ebook-things__article ebook-things__article-short">
              <div class="ebook-things__label label-hover">Blog</div>
              <h3 class="ebook-things__article-title title-hover">
                Article #8
              </h3>
              <p class="ebook-things__text-art text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="ebook-things__line line-hover"></div>
              <div class="ebook-things__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="ebook-things__author-img"
                />
                <div class="ebook-things__author-name name-hover">
                  <span>by</span>Scott Johnson
                </div>
              </div>
            </article></a
          >
          <a href="#" class="ebook-things__article-link"
            ><article class="ebook-things__article ebook-things__article-short">
              <div class="ebook-things__label label-hover">Blog</div>
              <h3 class="ebook-things__article-title title-hover">
                Article #9
              </h3>
              <p class="ebook-things__text-art text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="ebook-things__line line-hover"></div>
              <div class="ebook-things__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="ebook-things__author-img"
                />
                <div class="ebook-things__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >
          <a href="#" class="ebook-things__article-link"
            ><article class="ebook-things__article ebook-things__article-short">
              <div class="ebook-things__label label-hover">Blog</div>
              <h3 class="ebook-things__article-title title-hover">
                Article #10
              </h3>
              <p class="ebook-things__text-art text-hover">
                Terms of your offer, how quickly you can turn things around and
                who your lenders is advising.
              </p>
              <div class="ebook-things__line line-hover"></div>
              <div class="ebook-things__author">
                <img
                  src="/src/img/avatar_justin.png"
                  alt="Scott Johnson"
                  class="ebook-things__author-img"
                />
                <div class="ebook-things__author-name name-hover">
                  <span>by</span>Justin Roberts
                </div>
              </div>
            </article></a
          >
        </div>
      </div>
    </section>
    <%- include('src/templates/footer.html') %>
    <script type="module" src="/src/js/script.js"></script>
  </body>
</html>
