<header class="header">
  <div class="header__wrapper">
    <div class="header__burger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="14"
        viewBox="0 0 20 14"
        fill="none"
      >
        <g opacity="0.6">
          <path
            d="M1 7H19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1 1H19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M1 13H19"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </div>
  </div>
  <a href="index.html">
    <div class="header__logo-blog">
      <img src="/src/img/logo/logo__main.svg" alt="main-logo" /></div
  ></a>
  <div class="header__menu">
    <div class="header__menu-close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
      >
        <path
          d="M13 1L1 13"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1 1L13 13"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <img
      src="/src/img/logo/logo__main.svg"
      alt="main-logo"
      class="header__menu-logo"
    />
    <nav class="header__menu-nav">
      <ul>
        <li>
          <a href="#teachers" class="header__menu-link">Your teachers</a>
        </li>
        <li>
          <a href="#mortgage-journey" class="header__menu-link"
            >Your mortgage journey</a
          >
        </li>
        <li>
          <a href="#customers" class="header__menu-link"
            >What our customers say</a
          >
        </li>
        <li><a href="blog.html" class="header__menu-link">Blog</a></li>
        <li><a href="ebook.html" class="header__menu-link">Ebook</a></li>
        <li><a href="webinar.html" class="header__menu-link">Webinar</a></li>
      </ul>
    </nav>
    <div class="header__menu-divider"></div>
    <div class="header__menu-buttons">
      <a href="#"
        ><button class="header__btn btn--primary">
          Get started
          <img
            src="/src/img/icons/icon__arrow.svg"
            alt=""
            class="btn__icon"
          /></button
      ></a>

      <a href="#">
        <button class="header__btn btn--transparent">Schedule a time</button></a
      >
    </div>
  </div>
  <div class="header__fill"></div>
</header>
