<section class="report">
  <div class="container">
    <h2 class="report__title t-h2">What’s in the report</h2>

    <div class="report__wrapper">
      <div class="report__item">
        <div class="report__icon">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 2L2 16"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.5 6C4.88071 6 6 4.88071 6 3.5C6 2.11929 4.88071 1 3.5 1C2.11929 1 1 2.11929 1 3.5C1 4.88071 2.11929 6 3.5 6Z"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.5 17C15.8807 17 17 15.8807 17 14.5C17 13.1193 15.8807 12 14.5 12C13.1193 12 12 13.1193 12 14.5C12 15.8807 13.1193 17 14.5 17Z"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="report__subtitle">Rate</h3>
        <p class="report__text">
          Yes. Rate is important, but it’s not everything. Understanding your
          rate is more important.
        </p>
      </div>

      <div class="report__item">
        <div class="report__icon">
          <svg
            width="24"
            height="20"
            viewBox="0 0 24 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17 19V17C17 14.7909 15.2091 13 13 13H5C2.79086 13 1 14.7909 1 17V19"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9 9C11.2091 9 13 7.20914 13 5C13 2.79086 11.2091 1 9 1C6.79086 1 5 2.79086 5 5C5 7.20914 6.79086 9 9 9Z"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M23 19V17C22.9986 15.1771 21.765 13.5857 20 13.13"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16 1.13C17.7699 1.58317 19.0078 3.178 19.0078 5.005C19.0078 6.83201 17.7699 8.42684 16 8.88"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="report__subtitle">Relationships</h3>
        <p class="report__text">
          Build a solid relationship with a realtor, a lender and never look
          back!
        </p>
      </div>

      <div class="report__item">
        <div class="report__icon">
          <svg
            width="18"
            height="22"
            viewBox="0 0 18 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 3H15C16.1046 3 17 3.89543 17 5V19C17 20.1046 16.1046 21 15 21H3C1.89543 21 1 20.1046 1 19V5C1 3.89543 1.89543 3 3 3H5"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <rect
              x="5"
              y="1"
              width="8"
              height="4"
              rx="1"
              stroke="#278FB4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="report__subtitle">Pre-Approved</h3>
        <p class="report__text">
          Getting pre-approved early will play a key part in finding your dream
          home.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="author">
  <div class="container">
    <h2 class="author__title t-h2">About author</h2>

    <div class="author__card">
      <div class="author__media">
        <img
          class="author__img author__justin"
          src="/src/img/photo__justin-xl.png"
          alt="Justin portrait"
        />
        <img
          class="author__img author__scott"
          src="/src/img/photo__scott-xl.png"
          alt="Scott portrait"
        />
      </div>

      <div class="author__content">
        <div class="author__eyebrow">THE MASTER MIND</div>
        <h3 class="author__name author__name-justin">Justin</h3>
        <h3 class="author__name author__name-scott">Scott</h3>

        <p class="author__text">
          Rates change, but every mortgage journey starts with a relationship.
          (Pssst… it’s not just about clicking a button)
        </p>

        <div class="author__card-btn-txt">
          <a
            href="https://youtu.be/KnkDoy_TCiM?si=5NXhyFLYRuh6QtBm"
            class="author__btn"
            target="_blank"
            rel="noopener noreferrer"
            ><button
              class="author__play-btn btn--round"
              type="button"
              aria-label="Play video"
            ></button
          ></a>
          <div class="author__play-txt">Meet Scott</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="get-started">
  <div class="container">
    <div class="get-started__grid">
      <div class="get-started__content">
        <h2 class="get-started__title t-h2">Get started with us</h2>
        <p class="get-started__text">
          Rates change, but every mortgage journey starts with a relationship.
          (Pssst...it’s not just about clicking a button)
        </p>
        <div class="get-started__line"></div>
        <div class="get-started__buttons">
          <a href="#"
            ><button class="get-started__btn btn--primary">
              Get started
              <svg
                class="btn__icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="12"
                viewBox="0 0 20 12"
                aria-hidden="true"
              >
                <path
                  d="M0.99999 6.83332C0.539753 6.83332 0.166656 6.46023 0.166656 5.99999C0.166656 5.53975 0.539753 5.16666 0.99999 5.16666H19C19.4602 5.16666 19.8333 5.53975 19.8333 5.99999C19.8333 6.46023 19.4602 6.83332 19 6.83332H0.99999Z"
                  fill="currentColor"
                />
                <path
                  d="M17.8215 5.99999L13.4107 1.58925C13.0853 1.26381 13.0853 0.736171 13.4107 0.410734C13.7362 0.0852973 14.2638 0.0852973 14.5893 0.410734L19.5893 5.41073C19.9147 5.73617 19.9147 6.26381 19.5893 6.58925L14.5893 11.5892C14.2638 11.9147 13.7362 11.9147 13.4107 11.5892C13.0853 11.2638 13.0853 10.7362 13.4107 10.4107L17.8215 5.99999Z"
                  fill="currentColor"
                />
              </svg></button
          ></a>

          <a href="#"
            ><button class="get-started__btn btn--transparent">
              Schedule a time
            </button></a
          >
        </div>
      </div>

      <div class="get-started__image">
        <img src="/src/img/bg_get-started.png" alt="cat" />
      </div>
    </div>
  </div>
</section>
