@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.page--ebook .header__logo-blog img {
  filter: brightness(0) invert(1);
  display: block;
}

.ebook {
  padding: 350px 0 70px 0;
  background-color: $white;

  &__grid {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 70px;
    grid-template-columns: 700px auto;
  }

  &__img {
    width: 100%;
    border-radius: 8px;
    filter: drop-shadow(0px 9px 69px rgba(29, 55, 69, 0.502604));
  }
  &__img-bg {
    max-height: 640px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__by-btn {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons {
    display: flex;
    gap: 16px;
  }
  &__icon {
    padding: 13px 18px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: $white;
  }

  &__content {
    flex-direction: column;
    display: flex;
  }

  &__title {
    line-height: 70px;
    color: $white;
    max-width: 680px;
  }

  &__author {
    font-weight: 700;
    font-size: 16px;
    color: $white;
    opacity: 0.7;
  }
  &__about {
    margin-top: 40px;
  }
  &__about-title {
    font-weight: 700;
    font-size: 28px;
    color: $black;
  }
  &__text {
    max-width: 503px;
    margin-top: 22.4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark-black;
    opacity: 0.5;
  }
  &__form {
    margin-top: 32.4px;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 360px;
    height: 56px;
    padding: 12px 16px;
    font-weight: 300;
    font-size: 16px;
    color: $dark-black;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid rgba(151, 151, 151, 0.2);
    border-radius: 4px;
  }

  &__btn {
    position: relative;
    left: -10px;
    width: 169px;
    height: 56px;
    background: $blue;
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    color: $white;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $dark-blue;
    }
  }
}
@media (max-width: 1600px) {
  .ebook {
    padding: 280px 0 70px 0;

    &__grid {
      gap: 50px;
      grid-template-columns: 498px auto;
    }

    &__img-bg {
      max-height: 540px;
    }

    &__title {
      line-height: 60px;
      max-width: 503px;
    }
  }
}
@media (max-width: 1200px) {
  .ebook {
    padding: 190px 0 70px 0;
    &__grid {
      gap: 50px;
      grid-template-columns: 300px auto;
    }

    &__title {
      font-size: 30px;
      line-height: 40px;
      max-width: 332px;
    }
    &__about {
      margin-top: 33px;
    }
    &__icon {
      padding: 10px;
      font-size: 14px;
    }
  }
}
@media (max-width: 768px) {
  .ebook {
    padding: 125px 0 70px 0;
    &__grid {
      gap: 30px;
      grid-template-columns: auto 300px;
    }

    &__title {
      font-size: 25px;
      line-height: 30px;
      max-width: 250px;
    }
    &__about {
      margin-top: 33px;
    }
    &__icon {
      padding: 10px;
      font-size: 14px;
    }
    &__input {
      width: 200px;
      height: 46px;
      padding: 5px 7px;
      font-size: 12px;
    }

    &__btn {
      padding: 5px 7px;
      position: relative;
      left: -10px;
      width: 100px;
      height: 46px;
      font-size: 12px;
    }
  }
}
@media (max-width: 500px) {
  .ebook {
    padding: 100px 0 70px 0;
    &__grid {
      gap: 30px;
      grid-template-columns: 1fr;
    }
    &__img {
      width: 300px;
      margin: 0 auto;
    }
    &__img-bg {
      height: 40vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &__title {
      color: $black;
      font-size: 35px;
      line-height: 45px;
      max-width: 100%;
    }
    &__author {
      color: $black;
    }
    &__about {
      margin-top: 33px;
    }
    &__icon {
      color: $black;
      padding: 5px;
      font-size: 10px;
      background: rgba(207, 207, 207, 0.5);
      border: 1px solid rgba(117, 117, 117, 0.6);
    }
    &__input {
      width: 100%;
    }

    &__btn {
      left: -5px;
      width: 120px;
    }
  }
}
