@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.ebook-things {
  padding: 276px 0 70px 0;
  background-color: $white;
  &__img-bg {
    max-height: 640px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__name {
    position: relative;
    z-index: 1;
    padding-inline: 297px;
  }
  &__title {
    line-height: 70px;
    color: $white;
    max-width: 507px;
    line-height: 60px;
  }
  &__author {
    margin-top: 21.2px;
    font-weight: 700;
    font-size: 16px;
    color: $white;
    opacity: 0.7;
  }
  &__content {
    padding-inline: 297px;
    margin-top: 79px;
    position: relative;
    z-index: 1;
  }
  &__text {
    margin-top: 36.4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $dark-black;
    opacity: 0.8;
  }
  &__heading {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: $black;
  }
  &__descr {
    margin-top: 22.4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $dark-black;
    opacity: 0.5;
  }
  &__img {
    margin-top: 28.4px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__1st-thing {
    margin-top: 49px;
  }
  &__2st-thing {
    margin-top: 45.2px;
  }
  &__wrapper {
    margin-top: 35.6px;
    display: flex;
    gap: 25px;
  }
  &__subtitle-more {
    margin-top: 116px;
    text-align: center;
  }
  &__article {
    height: 100%;
    padding: 28px 57px 32px 32px;
    border-radius: 4px;
    background: $white;
    box-shadow: 0px 27px 58px rgba(25, 78, 96, 0.139295);

    &-link {
      text-decoration: none;
    }
  }
  &__article-short {
    @media (hover: hover) {
      &:hover {
        @include education-card-hover;
      }
    }
  }
  &__header {
    margin-right: 225px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    color: $blue;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      margin-top: 5px;
      width: 100%;
      height: 1px;
      background-color: $blue;
    }
  }
  &__label {
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $blue;
  }
  &__article-title {
    margin-top: 82px;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: $dark-black;
  }
  &__text-art {
    margin-top: 18.4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: $dark-black;
    opacity: 0.7;
  }
  &__line {
    margin-top: 20.4px;
    width: 260px;
    opacity: 0.2;
    border: 1px solid $dark-black;
  }
  &__author {
    margin-top: 23px;
    display: flex;
    gap: 12px;
    align-items: center;
  }
  &__author-name {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    color: $dark-black;
    span {
      font-weight: 400;
      font-size: 14px;
      opacity: 0.5;
      gap: 3.8px;
    }
  }
}

@media (max-width: 1600px) {
  .ebook-things {
    &__text {
      font-size: 16px;
      line-height: 26px;
    }
    &__heading {
      font-size: 28px;
      line-height: 28px;
    }
    &__descr {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
@media (max-width: 1200px) {
  .ebook-things {
    padding: 120px 0 70px 0;

    &__content {
      padding-inline: 197px;
      margin-top: 79px;
      position: relative;
      z-index: 1;
    }
    &__name {
      position: relative;
      z-index: 1;
      padding-inline: 197px;
    }
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__article-link {
      width: 45%;
    }
    &__subtitle-more {
      margin-top: 40px;
    }
  }
}

@media (max-width: 800px) {
  .ebook-things {
    padding: 110px 0 70px 0;

    &__title {
      font-size: 35px;
      line-height: 45px;
    }
    &__author {
      margin-top: 10px;
      font-size: 14px;
    }
    &__content {
      margin-top: 25px;
      padding-inline: 0;
    }
    &__article-link {
      width: 100%;
    }
    &__name {
      padding-inline: 0;
    }
  }
}

@media (max-width: 500px) {
  .ebook-things {
    padding: 150px 0 70px 0;
    &__img-bg {
      height: 40vh;
    }
  }
}

@media (max-width: 375px) {
  .ebook-things {
    padding: 150px 0 70px 0;
    &__img-bg {
      height: 40vh;
    }
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
    &__content {
      margin-top: 45px;
      padding-inline: 0;
    }
  }
}
