@use "/src/sass/base/variables.scss" as *;
.header {
  &__logo-blog {
    img {
      display: none;
      z-index: 1;
      top: 30px;
      position: absolute;
      left: 200px;
    }
  }
  &__burger {
    z-index: 90;
    position: absolute;
    left: 125px;
    top: 25px;
    width: 52px;
    height: 52px;
    border-radius: 4px;
    background: $white;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    padding: 29px 100px 64px 100px;
    position: absolute;
    left: -50vw;
    width: 50vw;
    top: 0;
    z-index: 100;
    height: 100vh;
    background-color: $white;
    transition: all 0.3s;
    overflow-y: auto;
    &_active {
      transform: translateX(100%);
    }
    &-close {
      position: absolute;
      top: 44px;
      left: 44px;
    }

    &-link {
      color: $black;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      text-decoration: none;
    }

    &-nav {
      margin-top: 67px;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
        padding: 0;
        list-style-type: none;
      }
    }
    &-divider {
      margin-top: 90px;
      width: 100%;
      height: 1px;
      opacity: 0.2;
      background-color: $gray;
    }
    &-buttons {
      margin-top: 35px;
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
      a {
        text-decoration: none;
      }
    }
  }
  &__menu_active + &__fill {
    opacity: 1;
    pointer-events: all;
  }
  &__fill {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
  }
}

@media (max-width: 1440px) {
  .header {
    &__logo-blog {
      img {
        top: 29px;
        left: 100px;
      }
    }
    &__burger {
      left: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &__burger {
      left: 25px;
    }
    &__menu {
      &-buttons {
        .hero__btn {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    &__logo-blog {
      img {
        left: 126px;
      }
    }
    &__burger {
      left: 50px;
    }
    &__menu {
      padding: 10px 45px;
      left: -50vw;
      width: 50vw;
      &-close {
        top: 20px;
        left: 20px;
        &-nav {
          margin-top: 60px;
        }
        &-divider {
          margin-top: 60px;
        }
      }
      &-buttons {
        .hero__btn {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    &__logo-blog {
      img {
        top: 13px;
        width: 150px;
        left: 64px;
      }
    }
    &__burger {
      height: 35px;
      width: 35px;
      top: 9px;
      left: 20px;
    }
    &__menu {
      left: -100%;
      width: 100%;
      &-nav {
        margin-top: 40px;
      }
      &-divider {
        margin-top: 40px;
      }
    }
  }
}
