@use "/src/sass/base/variables.scss" as *;

.report {
  &__title {
    text-align: center;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    justify-content: center;
  }
  &__item {
    margin-top: 28px;
    max-width: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 21px;
  }
  &__icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $white;
    box-shadow: 0px 27px 58px rgba(25, 78, 96, 0.139295);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: $black;
    &::after {
      content: "";
      display: block;
      width: 40px;
      margin: 21px auto 0;
      border: 1px solid rgba(151, 151, 151, 0.2);
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: $dark-black;
    opacity: 0.5;
  }
}
@media (max-width: 500px) {
  .report {
    &__wrapper {
      gap: 25px;
    }
    &__item {
      row-gap: 15px;
    }
    &__subtitle {
      font-size: 22px;
      &::after {
        content: "";
        margin: 15px auto 0;
      }
    }
  }
}

.author {
  margin-top: 100px;
  padding: 0 222px;
  &__title {
    text-align: center;
  }
  &__card {
    margin-top: 43px;
    box-shadow: 0px 20px 40px -20px rgba(25, 78, 96, 0.25);
    border-radius: 4px;
    padding: 40px 83px 0 83px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 490px 1fr;
  }
  &__eyebrow {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: $blue;
  }
  &__name {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: $black;
    &::after {
      content: "";
      margin-top: 19px;
      display: block;
      width: 40px;
      border: 1px solid rgba(151, 151, 151, 0.2);
    }
  }
  &__text {
    margin-top: 19px;
    max-width: 391px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark-black;
    opacity: 0.5;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__card-btn-txt {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 28px;
  }
  &__play-txt {
    font-weight: 400;
    font-size: 13px;
    color: $dark-black;
  }
  .author__scott {
    display: none;
  }
  .author__name-scott {
    display: none;
  }
}

@media (max-width: 1600px) {
  .author {
    padding: 0 122px;
  }
}
@media (max-width: 1200px) {
  .author {
    padding: 0 50px;
    &__card {
      grid-template-columns: 390px 1fr;
    }
  }
}

@media (max-width: 800px) {
  .author {
    padding: 0;
    &__card {
      padding: 20px 20px 0 20px;
      grid-template-columns: 317px 1fr;
    }
    &__eyebrow {
      font-size: 9px;
    }
    &__name {
      font-size: 18px;
      &::after {
        content: "";
        margin-top: 10px;
      }
    }
    &__text {
      margin-top: 10px;
      font-size: 10px;
      line-height: 14px;
    }
  }
}

@media (max-width: 500px) {
  .author {
    padding: 0;
    &__card {
      padding: 30px;
      grid-template-columns: 1fr;
    }
    &__content {
      margin-top: 20px;
    }
    &__eyebrow {
      font-size: 14px;
    }
    &__name {
      font-size: 24px;
      &::after {
        content: "";
        margin-top: 10px;
      }
    }
    &__text {
      margin-top: 14px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.get-started {
  padding: 147px 0 96px 0;
  &__content {
    padding: 36px 0 27px 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 690px;
    gap: 65px;
  }
  &__text {
    margin-top: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark-black;
    opacity: 0.5;
  }
  &__line {
    margin-top: 135px;
    width: 100%;
    opacity: 0.2;
    border: 1px solid #979797;
  }
  &__buttons {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .get-started {
    &__content {
      padding: 26px 0 17px 0;
    }
    &__grid {
      grid-template-columns: 1fr 490px;
    }
    &__text {
      margin-top: 21px;
      font-size: 12px;
      line-height: 16px;
    }
    &__line {
      margin-top: 50px;
    }
  }
}
@media (max-width: 800px) {
  .get-started {
    padding: 50px 0 56px 0;

    &__grid {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &__line {
      margin-top: 50px;
    }
  }
}
