@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.btn--primary {
  @include button;
  min-height: 56px;
  .btn__icon {
    flex: 0 0 auto;
    width: 20px;
    height: 12px;
    transition: transform 0.3s ease;
  }
  @media (hover: hover) {
    &:hover .btn__icon {
      transform: translateX(3px);
    }
  }
  &:active {
    background: $dark-blue;
    color: $black;
  }
}

.btn--round {
  @include button-round;
}

.btn--round-slider {
  @include button-round-slider;
}

.btn--transparent {
  @include button;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba($black, 0.3);
  color: $black;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  width: 181px;
  height: 56px;
  &:active {
    border: none;
    background-color: rgba($gray, 0.2);
    color: $dark-black;
  }
  @media (hover: hover) {
    &:hover {
      border: 1px solid rgba($black, 0.8);
      background-color: rgba($gray, 0.1);
    }
  }
}

.btn--lets {
  &:active {
    background: $dark-blue;
    color: $black;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid rgba($dark-blue, 0.8);
      background-color: rgba($dark-blue, 0.6);
      color: $black;
    }
  }
}
